@page
@using EventLib.model;
@model EventAPP.Pages.EventsPages.IndexModel
@{
    ViewData["Title"] = "Events";
}

<h1>Oversigt over kommende events</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Event type</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in @Model.kommendeevents)
        {
        
          <tr>
                    <td>
                        @e.Id
                    </td>
                    <td>
                        @e.Name
                    </td>
                    <td>
                        @e.Description
                    </td>
                    <td>
                        @e.EventSlags
                    </td>
                    <td>
                        @e.Date
                    </td>
                    <td>
                        <a asp-page="Delete" asp-route-id="@e.Id">Delete</a> | <a asp-page="Edit" asp-route-id="@e.Id">Edit</a>
                    </td>
          </tr>
   
        }
    </tbody>
</table>

<p>
    <a asp-page="Create">Opret et event</a>
</p>